<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.png" alt="Foto de perfil, yo." class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mariano A. Telesca</p>
        <p>Full Stack Developer Jr. & Manual Tester</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et eaque molestias nihil magnam delectus reiciendis aliquid, laudantium, ipsam corrupti iusto temporibus iste architecto. Suscipit sed perspiciatis accusamus pariatur velit in.</p>
        </span>
    </div>
</div>
