<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> 
                - 
                <h3>(desde-hasta)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi tempora ut dolorum mollitia dolores sunt esse libero consectetur, vero explicabo porro reprehenderit delectus neque voluptatem autem aliquam commodi possimus recusandae?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> 
                - 
                <h3>(desde-hasta)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi tempora ut dolorum mollitia dolores sunt esse libero consectetur, vero explicabo porro reprehenderit delectus neque voluptatem autem aliquam commodi possimus recusandae?</p>
        </ul>
    </div>
</div>
