/*General*/
body {
    background-color: rgb(10, 10, 255);
}
#Todo {
    border: black solid;
    background-color: rgb(100, 100, 255) ;
}
.BloqueGrande {
    border: groove gray 0.5ch;
    margin: 0.5em;
    overflow: none;
    padding: 0.5em;
}
.BloqueChico {
    border: groove gray 0.2ch;
    margin: 0.5em;
    overflow: none;
    padding: 0.5em;
}

/* Header */
header {
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
}


/* TopHeader */
#TopHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "YoProgramo Redes";
}
#YoProgramo {
    grid-area: YoProgramo;
    padding: 0.5em;
}
#RedesSociales {
    grid-area: Redes;
    text-align: end;
    justify-content: end;
    align-items: flex-end;
    padding: 0.5em;
}


/* Mi informacion */
.wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(7, 5em);
    padding: 0.5em;
}
    #banner {
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 15em;
    }
    #fotoPerfil {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 5;
        z-index: 100;
        width: 10em;
        height: 10em;
    }
    #infoPersonal {
        grid-column-start: 1;
        grid-column-end: 17;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0.3em;
        margin: 0.5em;
    }
    #infoPersonal h3 {
        font-size: 2.3rem;
    }
    #miDescripcion {
        grid-column-start: 1;
        grid-column-end: 17;
        grid-row-start: 6;
        grid-row-end: 8;
        padding: 1em;
        margin: 0.5em;
        border: 0.3ch gray solid;
    }
    #miDescripcion h3 {
        text-decoration: none;
    }
    .LinksInformacion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1;
        grid-template-areas: "izq centro der";
    }
    .LinksInformacion p {
        font-size: small;
        font-style: italic;
    }
    #LinkInfoIzq {
        text-align: start;
        grid-area: izq;
        justify-content: start;
        align-items: flex-start;
    }
    #LinkInfoCentro {
        grid-area: centro;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #LinkInfoDer {
        grid-area: der;
        text-align: end;
        justify-content: end;
        align-items: flex-end;
    }

#Nombre {
    text-decoration: none;
    text-align: center;
}

/*Main*/
main {
    background-color: rgb(255, 255, 255);
}
h3 {
    text-decoration: underline;
    font-family: 'Special Elite', cursive;
}


/* Experiencia */
.Experiencia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "foto detalles";
    margin: 0.5;
    padding: 0.5em; 
}
.Empresa {
    grid-area: foto;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
}
.DescripcionTrabajo {
    grid-area: detalles;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
    padding: 0.5em;
    margin-top: 0.5; 
}
.img_empresa {
    width: 3em;
    height: 3em;
}


/* Educación */
.Educacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "foto detalles";
    margin: 0.5;
    padding: 0.5em; 
}
.Institucion {
    grid-area: foto;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
}
.DescripcionEstudio {
    grid-area: detalles;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 0.5em; 
}
.img_educ {
    width: 3em;
    height: 3em;
}


/*Footer*/
footer {
    background-color: rgb(255, 255, 255);
    height: 3em;
}